<div class="overlay-details is-open">
    <div class="modal">
        <button type="button" class="modal-close" aria-label="Close modal">
            <svg class="modal-icon-close" width="24" height="24">
            <use href="./img/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal-info">
            <div class="modal-img-thumb">
                <!-- Тимчасова заглушка для картинки -->
                <img class="modal-img" src="https://images.unsplash.com/photo-1606313564200-e75d5e30476c?w=500" alt="Десерт" />
            </div>
        <div class="modal-content-wrapper">
            <h3 class="modal-title">Назва десерту</h3>
            <p class="modal-price">0 грн</p>
            
            <div class="modal-rating">★★★★★</div>
            
            <p class="modal-description">
                Тут буде опис десерту, який завантажиться автоматично при кліку на картку.
            </p>
            
            <p class="modal-ingredients">
                <strong>Склад:</strong> Інгредієнти десерту.
            </p>
            <div class="modal-sub-btn">
                <button type="button" class="to-order-btn js-open-order-btn">
                    Перейти до замовлення
                </button>
            </div>
        </div>
      </div>
    </div>
</div>

<script type="module" src="/main.js"></script>