<div class="modal-container">
  <div class="modal-box">
    <button class="modal-close" type="button">
      <svg width="24" height="24">
        <use class="modal-close-icon" href="../img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Оформлення замовлення</h2>
    <form class="modal-form" action="">
      <label class="modal-label" for="name">
        Ім'я*

        <input
          class="modal-input"
          name="username"
          id="name"
          type="text"
          placeholder="Вікторія"
      /></label>

      <label class="modal-label" for="phone">
        Телефон*

        <input
          class="modal-input"
          id="phone"
          name="phone"
          type="tel"
          placeholder="38 0_ ___"
        />
      </label>
      <label class="modal-label" for="comment">
        Коментар

        <textarea
          class="modal-textarea"
          id="comment"
          name="textComment"
          placeholder="Ваш коментар"
        ></textarea>
      </label>
      <button class="modal-submit" type="submit">Надіслати заявку</button>
    </form>
  </div>
</div>
