.about-us-section {
  padding-top: 64px;
  padding-bottom: 64px;
  overflow: hidden;
}

.section-title {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 24px;
}

.about-us-description {
  font-family: 'Work Sans', sans-serif;
  max-width: 768px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto 40px auto;
}

.swiper.contact-us-gallery {
  position: relative;
  overflow: visible;
}

.contact-us-gallery-list {
  flex-direction: column;
}

.swiper-slide:not(:last-child) {
  margin-bottom: 24px;
}

.about-us-slide-btn,
.about-us-pagination {
  display: none;
}

.about-us-slide-btn.button-prev {
  left: -23px;
}

.about-us-slide-btn.button-next {
  right: -23px;
}

@media only screen and (min-width: 768px) {

  .contact-us-gallery-list {
    flex-direction: row;
  }

  .swiper-slide {
    opacity: 0;
  }

  .swiper-slide-visible {
    opacity: 1;
  }

  .swiper-slide:not(:last-child) {
    margin-bottom: 0;
  }

  .about-us-slide-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border: solid 2px #080c0c;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: background-color 250ms ease;
    stroke: #080c0c;
  }

  .swiper-button-disabled {
    opacity: 0.2;
  }

  .about-us-slide-btn:not(.swiper-button-disabled):hover,
  .about-us-slide-btn:not(.swiper-button-disabled):focus {
    background-color: #F19898;
  }

  .about-us-slide-btn:active {
    background-color: #C07979;
  }

  .about-us-pagination {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    transform: translateY(50px);
  }

  .about-us-pagination .swiper-pagination-bullet-active {
    background-color: #080c0c;
  }
}

@media only screen and (min-width: 1440px) {
  .about-us-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section-title {
    font-size: 48px;
  }
}

